*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.owl-carousel{
    display: flex;
    position: relative;
}

.item{
    height: 200px;
}

.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



.fa-chevron-right:before{
    position: absolute;
    top: 33%;
    right: 20px;
    font-size: 25px;
    color: #fff;
}

.fa-chevron-left:before{
    position: absolute;
    top: 33%;
    left: 20px;
    font-size: 25px;
    color: #fff;
}